.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache

# ignore the following folders and files below:
_shapefile/
_tif/
_python

# ignore the following files:
*.xlsx