.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache

# ignore the following folders and files below:
_shapefile/
_tif/
_python
_5-10km radius

# ignore the following files:
*.xlsx
_centre points.txt